<div id="<%= dom_id coding %>">
  <p>
    <strong>Name:</strong>
    <%= coding.name %>
  </p>

  <p>
    <strong>Pic:</strong>
    <%= coding.pic %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= coding.description %>
  </p>

  <p>
    <strong>Programminglanguage:</strong>
    <%= coding.programminglanguage_id %>
  </p>

</div>
