<p style="color: green"><%= notice %></p>

<header>
  <img src="/uploads/<%=@mytutorial.pic%>" />
  <span><%=@mytutorial.name%></span>
</header>
<p>liste des tutoriels</p>
<ul class="no-bullets">
  <%@mytutorial.sometutorials.each do |x|%>
    <li class="mytutoriallist"><%=x.title%> <%= link_to "voir tutorials", sometutorial_path(x) %>

  <%end%>
</ul>

<div>
  <%= link_to "Ajouter des tutoriels", add_mytutorial_path(@mytutorial) %> |
  <%= link_to "Edit this mytutorial", edit_mytutorial_path(@mytutorial) %> |
  <%= link_to "Back to mytutorials", mytutorials_path %>

  <%= button_to "Destroy this mytutorial", @mytutorial, method: :delete %>
</div>
