<div id="<%= dom_id anycoding %>">
  <p>
    <strong>Somecoding:</strong>
    <%= anycoding.somecoding_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= anycoding.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= anycoding.content %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= anycoding.code %>
  </p>

</div>
